.footer {
  position: relative;
  border-radius: 100px 100px 0px 0px;
  background: linear-gradient(180deg, #0E2B50 0%, #0D1928 100%);

  &__container {
    padding: 0 60px;
  }

  &__top {
    padding: 44px 0 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $bread_color;
  }

  &-menu {
    display: flex;
    
    &-1 {
      flex-direction: row;

      a {
        text-decoration: none;
        color: $grey_main_color;
        margin-right: 22px;

        &:hover {
          transition: all .3s;
          color: $bread_color;
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-2 {
      flex-direction: column;

      a {
        text-align: right;
        color: $grey_second_color;
        margin-bottom: 12px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__bottom {
    padding: 32px 0 38px;

    &-head {
      margin-bottom: 22px;
      padding-bottom: 32px;
      border-bottom: 1px solid $bread_color;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-socials {

    &__gmail {
      display: block;
      width: 30px;
      height: 22px;
      background-image: url('../img/icons/gmail-black.svg');

      &:hover {
        transition: all .2;
        background-image: url('../img/icons/gmail-color.svg');
      }
    }
  }

  &__copyright {
    max-width: 80px;
    margin: 0 auto;
    color: $bread_color;
    text-align: center;
    font-family: $text_font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
}