.footer {
  position: relative;
  border-radius: 100px 100px 0px 0px;
  background: linear-gradient(180deg, #0E2B50 0%, #0D1928 100%);

  &__container {
    padding: 0 60px;
  }

  &__top {
    padding: 44px 0 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $bread_color;

    .main-menu {
      display: flex;
      flex-direction: row;

      a {
        text-decoration: none;
        color: $grey_main_color;
      }
    }
  }

  &__bottom {
    padding: 32px 0 38px;
  }

  &__copyright {
    max-width: 80px;
    margin: 0 auto;
    color: $bread_color;
    text-align: center;
    font-family: $text_font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
}