.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9998;

  &__logo {
    display: block;
    width: 100px;
    height: 40px;
    background-image: url('../img/icons/logo-light.svg');
  }

  &_light {
    background-color: $white_main_color;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, .1);

    .header__logo {
      background-image: url('../img/icons/logo-dark.svg');
    }

    .header__burger {
      background-image: url('../img/icons/burger-dark.svg');
    }

    #recallbar {
      .rcb {
        &_left {
          .rcb_icon {

            .rcli  {
              color: $main_color;
            }
    
            .rcl-login,
            .rcl-register {
              color: $main_color;
    
              span {
                color: $main_color;
              }
            }
          }
        }
      }
    }
    
    .header__col {

      &_right {

        .to-write {
          background-image: url("../img/icons/feather-dark.svg");
        }

        .bookmark {
          background-image: url('../img/icons/bookmark-dark.svg');

          .simplefavorites-user-count {
            border: 1px solid $main-color;
          }
        }

        .login-signin {
          background-image: url("../img/icons/signin-login-dark.svg");
        }
      }
    }
  }

  &__container {
    position: relative;
    padding: 12px 20px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col {

    &_right {
      display: flex;
      align-items: center;

      .login-signin {
        padding: 0;
        margin-right: 40px;
        width: 28px;
        height: 40px;
        background-color: transparent;
        background-image: url("../img/icons/signin-login.svg");
        cursor: pointer;
        border: none;
      }
      
      .to-write {
        display: block;
        padding: 0;
        border: 0;
        background-color: transparent;
        margin-right: 40px;
        width: 40px;
        height: 40px;
        background-image: url("../img/icons/feather.svg");
        cursor: pointer;

        @include media(mobile-plus) {
          display: none;
        }
      }

      .bookmark {
        position: relative;
        cursor: pointer;
        width: 22px;
        height: 40px;
        background-image: url('../img/icons/bookmark.svg');
        transition: all .2s;

        @include media(mobile-plus) {
          display: none;
        }

        &:hover {
          transform: translateY(3px);

          .simplefavorites-user-count {
            transform: translateY(-3px);
          }
        }

        .simplefavorites-user-count {
          transition: all .2s;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 17px;
          height: 17px;
          border-radius: 50%;
          position: absolute;
          bottom: -3px;
          right: -7px;
          border: 1px solid $white-main-color;
          background-color: $main-color;
          color: $white-main-color;
          font-family: $text_font;
          font-size: 10px;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }

  &__burger {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url('../img/icons/burger-light.svg');
    border: none;
    cursor: pointer;
  }

  .main-menu {
    display: none;
    min-width: 260px;
    max-width: 320px;
    padding: 40px 20px;
    position: absolute;
    top: 90%;
    right: 20px;
    border-radius: 5px;
    border: 1px solid $white_main_color;
    background: $white_main_color;
    box-shadow: -10px 8px 12px 0px rgba(0, 0, 0, .04);
    z-index: 3;

    @include media(tab) {
      right: 0;
    }

    .menu-item {
      display: block;
      margin-bottom: 20px;
      color: $main_color;
      font-family: $text_font;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      text-decoration: none;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .to-write-menu {
    display: none;
    min-width: 120px;
    max-width: 320px;
    padding: 40px 20px;
    position: absolute;
    top: 90%;
    right: 245px;
    border-radius: 5px;
    border: 1px solid $white_main_color;
    background: $white_main_color;
    box-shadow: -10px 8px 12px 0px rgba(0, 0, 0, .04);
    z-index: 3;

    @include media(tab) {
      right: 0;
    }

    a {
      display: block;
      margin-bottom: 20px;
      text-decoration: none;
      color: $main-color;
      font-family: $text_font;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .book-favorites {
    display: none;
    position: absolute;
    top: 90%;
    right: 190px;
    min-width: 260px;
    max-width: 320px;
    padding: 40px 20px;
    border-radius: 5px;
    border: 1px solid $white_main_color;
    background: $white_main_color;
    box-shadow: -10px 8px 12px 0px rgba(0, 0, 0, .04);

    @include media(tab) {
      right: 0;
    }

    .favorites-list  {
      padding: 0 2px 0 0;
      margin: 0;
      max-height: 350px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 10px;
      }
      
      &::-webkit-scrollbar-track {
        background: $white_third_color;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $main_color;
        border-radius: 20px;
        border: 1px solid $white_third_color;
      }

      li {
        margin: 0 0 20px 0;
        padding: 0;

        &:first-child {
          border: none;
        }

        p {
          margin: 0;

          a {
            color: $main_color;
            font-family: $text_font;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// WP-RECALL
#rcl-overlay {
  display: none !important;
}

#recallbar {
  display: none;
}

.logged-in {
  #recallbar {
    margin: 0;
    background-color: transparent;
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 1;
    position: static;
    width: auto;
    z-index: 1;
    
    .rcb {
      &_left {
        display: none;

        .rcb_icon {
          &:first-child {
            display: none;
          }
        }
      }

      &_right {
        margin: 0 40px;

        &_menu {
          border-left: none;
          box-sizing: border-box;
          height: auto;
          margin: 0;
          position: relative;
          width: fit-content;

          &:hover {
            border-left: none;
          }
          
          i {
            display: none;
          }

          a {
            display: block;
            width: 40px;
            height: 40px;
            position: relative;

            &:hover {
              img {
                border: 1px solid transparent;
                outline: 2px solid $main-color;
              }
            }
            
            img {
              width: 100%;
              height: 100%;
              max-width: 100%;
              object-fit: cover;
              border-radius: 50px;
              border: 1px solid $main-color;
              outline: 2px solid transparent;
              transition: all .3s;
            }
          }
        }
      }
    }
  }

  .pr_sub_menu {

    .rcb_line {
      padding: 0;
      margin-bottom: 20px;

      &:first-child {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;

        i {
          display: none;
        }

        span {
          margin: 0;
          color: $main_color;
          font-family: $text_font;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
        }
      }
    }
  }
}

.pr_sub_menu {

  .rcb_line {
    padding: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;

      i {
        display: none;
      }

      span {
        margin: 0;
        color: $main_color;
        font-family: $text_font;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
      }
    }
  }
}

// WP-Recall login-signin popup
.panel_lk_recall.floatform.rcl-loginform {
  right: 98px;
  left: auto;
  top: 90%;
  min-width: 260px;
  max-width: 320px;
  padding: 40px 20px 22px 20px;
  border-radius: 5px;
  border: 1px solid $white_main_color;
  background: $white_main_color;
  box-shadow: -10px 8px 12px 0px rgba(0, 0, 0, .04);
  z-index: 3;
  box-sizing: border-box;

  @include media(tab) {
    right: 0;
  }

  .form-tab-rcl {
    box-shadow: none;

    .form_head {
      margin-bottom: 25px;

      .form_auth,
      .form_reg {
        background-color: transparent;
        color: $grey_text_color;
        font-family: $text_font;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        border: none;

        a {
          border: none;
        }

        &.form_active {
          color: $main-color;
          border-bottom: 2px solid $bread_color;
        }
      }
    }

    form {

      .form-block-rcl {
        margin: 0 0 20px 0;

        &:last-child {
          margin-bottom: 0;
        }

        &.default-field {

          &.type-checkbox-input {
            &.rcl-field-input {

            }
          }

          i {
            display: none;
          }

          input {
            margin: 0;
            height: 40px;
            box-sizing: border-box;
            padding: 12px;
            border-radius: 20px;
            border: 1px solid $grey_main_color;
          }
        }

        .wp_google_login {
          margin-top: 40px;
          margin-bottom: 40px;
          padding-top: 40px;
          border-top: 1px solid $grey_main_color;

          .wp_google_login__button-container {
            margin: 0;

            .wp_google_login__button {
              padding: 0;
              height: 40px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 20px;
              border: 1px solid $grey_main_color;
            }
          }
        }

        .rcl-bttn {
          height: 40px;
          border-radius: 20px;
          border: 1px solid $main-color;
          background: $main-color;
          color: $white_second_color;
          font-family: $text_font;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
        }
      }
    }
  }
}