@import "../variables";
@import "../mixins";

.private {

  &__container {
    height: 100%;
  }

  .rcl-bttn {

    &.rcl-bttn__type-primary {
      background-color: $main-color;

      &.rcl-bttn__active {
        background-color: $second_color;
      }
    }

    &.rcl-bttn__disabled {
      opacity: 1;
      background-color: $second_color;
    }
  }

  #rcl-office {
    display: flex;
    gap: 12px;
    height: 100%;
    background-color: $white_main_color;
    padding-top: 64px;

    @include media(tab) {
      flex-direction: column;
    }

    .rcl-notice {
      position: absolute;

      &__type-success {
        margin: 0 !important;
        padding: 10px 10px 10px 45px !important;
        position: absolute;
        top: 64px;
        left: 0;
        width: 444px;

        .rcli {
          top: 36%;
          left: 0;

          &::before {
            font-size: 40px;
          }
        }
      }
    }
  
    #lk-conteyner {
      display: none;
    }

    .cab_lt_sidebar {
      padding: 40px 22px;
      box-sizing: border-box;
      float: none;
      width: 400px;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      background: linear-gradient(0deg, #153865 0%, #0F1B2C 100.65%);

      @include media(tab-mid) {
        width: 300px;
      }

      @include media(tab) {
        width: 100%;
        height: auto;
      }

      .lk-sidebar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid $bread_color;

        .lk-avatar {
          flex-shrink: 0;
          width: 100px;
          height: 100px;
          border: 2px solid $white_main_color;
          border-radius: 50%;
          overflow: hidden;
        }

        .cab_lt_title {
          padding: 0;
          margin-left: 22px;

          h2 {
            color: $white_second_color;
            font-family: $text_font;
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
          }

          .rcl-action {
            margin: 0;
            color: $grey_text_color;
            font-family: $text_font;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
          }
        }
      }

      .cab_lt_line {
        margin: 0;
        height: auto;
        background: transparent;
        box-shadow: none;
        padding-bottom: 30px;
        border-bottom: 1px solid $bread_color;
        display: block;

        .cab_bttn_lite {
          padding: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .rcl-tab-button {
            margin-bottom: 22px;

            &:last-child {
              margin-bottom: 0;
            }

            .recall-button {
              margin: 0;
              background-color: transparent;
              opacity: 1;

              &:hover,
              &.active {
                background-color: transparent;
                opacity: 1;

                span {
                  background-color: transparent;
                  color: $bread_color;
                }
              }

              i {
                display: none;
              }

              span {
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: $white_second_color;
                font-family: $text_font;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;

                .rcl-menu-notice {
                  width: auto;
                }
              }
            }
          }
        }
      }

      #lk-menu {
        padding-top: 30px;
        width: 100%;

        .rcl-tab-button {

          &:last-child {
            .recall-button {
              margin-bottom: 0;
            }
          }

          .recall-button {
            width: 100%;
            margin-bottom: 22px;
            background-color: transparent;

            &:hover,
            &.active {

              span {
                color: $bread_color;
                background-color: transparent;
              }
            }

            i {
              display: none;
            }

            span {
              padding: 0;
              color: $white_second_color;
              font-family: $text_font;
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;

              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
    
    #rcl-tabs {
      height: 77vh;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      @include media(tab) {
        height: auto;
      }

      &::-webkit-scrollbar {
        width: 14px;
      }
      
      &::-webkit-scrollbar-track {
        background: $white_third_color;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $main_color;
        border-radius: 20px;
        border: 1px solid $white_third_color;
      }

      #lk-content {
        margin: 0;
        width: 100%;

        .acf-form {

          .acf-fields {

            .acf-field {
              padding: 22px 12px;

              .acf-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                padding: 8px 16px;
                border-radius: 5px;
                background-color: $main-color;
                color: $white_main_color;
                font-family: $text_font;
                font-size: 22px;
                font-weight: 400;
                line-height: 28px;
              }

              .description {
                color: $second_color;
                font-family: $text_font;
                font-size: 18px;
                font-style: italic;
                font-weight: 300;
                line-height: 24px;
              }

              &[data-name="kratkoe_opisanie"],
              &[data-name="add_video"],
              &[data-name="inventory_list"] {
                background-color: $white_third_color;
              }

              &[data-name="vyberite_rubriku"],
              &[data-name="choice_category"] {
                background-color: #fffff0;

                .acf-input {

                  .acf-checkbox-list {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 0;

                    li {
                      flex-shrink: 0;
                      margin: 10px;
                      
                      label {
                        display: flex;
                        align-items: center;
                        padding: 6px 12px 6px 0;
                        background-color: transparent;
                        border: 1px solid $main-color;
                        border-radius: 22px;
                        color: $main-color;
                        font-family: $text_font;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 28px;
                        cursor: pointer;

                        &:hover {
                          background-color: #0f1b2c10;
                        }

                        &.selected {
                          background-color: $main-color;
                          color: $white_main_color;
                        }

                        input {
                          visibility: hidden;
                          margin: 0;
                        }
                      }
                    }
                  }
                }
              }

              &[data-name="add_steps_recipe"],
              &[data-name="steps_recipe_title"],
              &[data-name="steps_recipe_list"],
              &[data-name="steps_add_info"],
              &[data-name="steps_info_type"],
              &[data-name="steps_info_title"],
              &[data-name="steps_info_text"],
              &[data-name="add_related_recipes"] {
                padding-top: 22px;
                padding-bottom: 22px;
                background-color: #e2eaf7;
              }

              &[data-name="add_steps_recipe"] {

                .acf-input {
                  margin-top: 22px;
                }
              }              
            }
          }

          &-submit {
            padding: 15px 12px;
            margin-top: 22px;

            .acf-button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: fit-content;
              padding: 8px 16px;
              border-radius: 5px;
              background-color: $main-color;
              color: $white_main_color;
              border: none;
              cursor: pointer;
              font-family: $text_font;
              font-size: 22px;
              font-weight: 400;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}

// Chat pop-up
#rcl-chat-noread-box {
  display: none;
}
