@mixin bodyText {
  font-family: $text_font;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: $second_color;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (22 - 18) + 18px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (28 - 22) + 22px);
  }
}

@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}

@mixin media_min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
    }
}