// Breakpoints
$breakpoints: (
  mobile: 374px,
  tab: 767px,
  tab-mid: 1199px,
  tab-max: 1279px,
  desktop: 1919px,
);


// Fonts
$title_font: 'Noto Serif Display', serif;
$text_font: 'Inter', sans-serif;


// Colors
$main_color: #0E2B50;
$second_color: #403D56;
$bread_color: #DDB888;
$grey_main_color: #D9D9D9;
$grey_second_color: #C0C0C0;
$grey_text_color: #929292;

$white-main_color: #FFFFFF;
$white-second_color: #F8F8F8;
$white-third_color: #F5F5F5;