// Breakpoints
$breakpoints: (
  mobile: 374px,
  tab: 767px,
  tab-mid: 1199px,
  tab-max: 1279px,
  desktop: 1919px,
);


// Fonts
$title_font: 'Noto Serif', serif;
$text_font: 'Inter', sans-serif;


// Colors
$main_color: #0E2B50;
$second_color: #403D56;

