html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $text_font;
  color: $second_color;

  &.admin-bar {
    .header {
      top: 32px;
    }
  }
}

h1,
h2,
h3, 
h4,
h5, 
h6 {
  font-family: $title_font;
  color: $main_color;
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 72px;
  line-height: 100px;
  margin-bottom: 50px;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (72 - 28) + 28px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (98 - 32) + 32px);
  }
}

h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 82px;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (60 - 26) + 26px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (82 - 30) + 30px);
  }
}

h3 {
  font-weight: 500;
  font-size: 50px;
  line-height: 68px;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (50 - 24) + 24px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (68 - 28) + 28px);
  }
}

h4 {
  font-weight: 500;
  font-size: 42px;
  line-height: 57px;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (42 - 22) + 22px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (57 - 26) + 26px);
  }
}

h5 {
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (36 - 20) + 20px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (50 - 24) + 24px);
  }
}

h6 {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (30 - 18) + 18px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (40 - 22) + 22px);
  }
}

p,
.body-text {
  font-family: $text_font;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: $second_color;
  margin: 22px 0;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (22 - 18) + 18px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (28 - 22) + 22px);
  }
}

.extra-text {
  font-family: $text_font;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: $second_color;

  @include media(desktop) {
    font-size: calc( (100vw - 375px)/(1920 - 375) * (24 - 18) + 18px);
    line-height: calc( (100vw - 375px)/(1920 - 375) * (30 - 20) + 20px);
  }
}

.container {
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

section {
  transition: height .4s;
}