// NotoSerif
// 400 - Regular
@font-face {
  font-family: 'NotoSerif';
  src: url('../fonts/notoserif/notoserifregular.eot');
  src: url('../fonts/notoserif/notoserifregular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/notoserif/notoserifregular.woff2') format('woff2'),
       url('../fonts/notoserif/notoserifregular.woff') format('woff'),
       url('../fonts/notoserif/notoserifregular.otf')  format('truetype'),
       url('../fonts/notoserif/notoserifregular.svg#Noto Serif Regular') format('svg');
  font-display: swap;
  font-weight: 400;
}

// 500 - Medium
@font-face {
  font-family: 'NotoSerif';
  src: url('../fonts/notoserif/notoserifmedium.eot');
  src: url('../fonts/notoserif/notoserifmedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/notoserif/notoserifmedium.woff2') format('woff2'),
       url('../fonts/notoserif/notoserifmedium.woff') format('woff'),
       url('../fonts/notoserif/notoserifmedium.otf')  format('truetype'),
       url('../fonts/notoserif/notoserifmedium.svg#Noto Serif Medium') format('svg');
  font-display: swap;
  font-weight: 500;
}

// 600 - Semi Bold
@font-face {
  font-family: 'NotoSerif';
  src: url('../fonts/notoserif/notoserifsemibold.eot');
  src: url('../fonts/notoserif/notoserifsemibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/notoserif/notoserifsemibold.woff2') format('woff2'),
       url('../fonts/notoserif/notoserifsemibold.woff') format('woff'),
       url('../fonts/notoserif/notoserifsemibold.otf')  format('truetype'),
       url('../fonts/notoserif/notoserifsemibold.svg#Noto Serif SemiBold') format('svg');
  font-display: swap;
  font-weight: 600;
}

// Inter
// 100 - Thin
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/interthin.eot');
  src: url('../fonts/inter/interthin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/interthin.woff2') format('woff2'),
       url('../fonts/inter/interthin.woff') format('woff'),
       url('../fonts/inter/interthin.otf')  format('truetype'),
       url('../fonts/inter/interthin.svg#Inter Thin') format('svg');
  font-display: swap;
  font-weight: 100;
}

// 200 - Extra Light
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/interextralight.eot');
  src: url('../fonts/inter/interextralight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/interextralight.woff2') format('woff2'),
       url('../fonts/inter/interextralight.woff') format('woff'),
       url('../fonts/inter/interextralight.otf')  format('truetype'),
       url('../fonts/inter/interextralight.svg#Inter Extra Light') format('svg');
  font-display: swap;
  font-weight: 200;
}

// 300 - Light
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/interlight.eot');
  src: url('../fonts/inter/interlight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/interlight.woff2') format('woff2'),
       url('../fonts/inter/interlight.woff') format('woff'),
       url('../fonts/inter/interlight.otf')  format('truetype'),
       url('../fonts/inter/interlight.svg#Inter Light') format('svg');
  font-display: swap;
  font-weight: 300;
}

// 400 - Regular
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/interregular.eot');
  src: url('../fonts/inter/interregular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/interregular.woff2') format('woff2'),
       url('../fonts/inter/interregular.woff') format('woff'),
       url('../fonts/inter/interregular.otf')  format('truetype'),
       url('../fonts/inter/interregular.svg#Inter Regular') format('svg');
  font-display: swap;
  font-weight: 400;
}

// 500 - Medium
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/intermedium.eot');
  src: url('../fonts/inter/intermedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/intermedium.woff2') format('woff2'),
       url('../fonts/inter/intermedium.woff') format('woff'),
       url('../fonts/inter/intermedium.otf')  format('truetype'),
       url('../fonts/inter/intermedium.svg#Inter Medium') format('svg');
  font-display: swap;
  font-weight: 500;
}

// 600 - Semi Bold
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/intersemibold.eot');
  src: url('../fonts/inter/intersemibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/intersemibold.woff2') format('woff2'),
       url('../fonts/inter/intersemibold.woff') format('woff'),
       url('../fonts/inter/intersemibold.otf')  format('truetype'),
       url('../fonts/inter/intersemibold.svg#Inter Semi Bold') format('svg');
  font-display: swap;
  font-weight: 600;
}

// 700 - Bold
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/interbold.eot');
  src: url('../fonts/inter/interbold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/interbold.woff2') format('woff2'),
       url('../fonts/inter/interbold.woff') format('woff'),
       url('../fonts/inter/interbold.otf')  format('truetype'),
       url('../fonts/inter/interbold.svg#Inter Bold') format('svg');
  font-display: swap;
  font-weight: 700;
}

// 800 - Extra Bold
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/interextrabold.eot');
  src: url('../fonts/inter/interextrabold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/interextrabold.woff2') format('woff2'),
       url('../fonts/inter/interextrabold.woff') format('woff'),
       url('../fonts/inter/interextrabold.otf')  format('truetype'),
       url('../fonts/inter/interextrabold.svg#Inter Extra Bold') format('svg');
  font-display: swap;
  font-weight: 800;
}

// 900 - Black
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/interextrablack.eot');
  src: url('../fonts/inter/interextrablack.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inter/interextrablack.woff2') format('woff2'),
       url('../fonts/inter/interextrablack.woff') format('woff'),
       url('../fonts/inter/interextrablack.otf')  format('truetype'),
       url('../fonts/inter/interextrablack.svg#Inter Extra Black') format('svg');
  font-display: swap;
  font-weight: 900;
}