.intro {
  height: 50vh;
  max-height: 500px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  &__title {
    color: $white-main-color;
    text-align: center;
  }
}

.search-form {

  &-recipes {
    height: 54px;
    width: 80%;
    max-width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;

    @include media(tab) {
      width: 100%;
      height: 36px;
    }

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 14px;
      left: 17px;
      background-image: url("../img/icons/loupe.svg");
      background-size: cover;

      @include media(tab) {
        width: 13px;
        height: 13px;
        top: 12px;
        left: 9px;
      }
    }

    &__field {
      height: 54px;
      width: 99%;
      padding: 15px 130px 15px 52px;
      border: none;
      border-radius: 50px;
      background-color: $white_main_color;
      outline: 1px solid transparent;
      @include bodyText;

      @include media(tab) {
        height: 36px;
        padding: 7px 100px 7px 28px;
      }
      
      &:focus {
        outline: none;
        box-shadow: -10px 8px 12px 0 rgba(221, 211, 185, .12);
      }
    }

    &__submit {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding: 0 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background-color: $main_color;
      border: none;
      cursor: pointer;
      @include bodyText;
      color: $white_main_color;

      @include media(tab) {
        padding: 0 22px;
      }
    }
  }
}

.searching-results {
  overflow-x: hidden;
  padding-top: 40px;
  padding-bottom: 120px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 31px 15px;
    margin-bottom: 71px;
  }

  &__header {
    margin-bottom: 26px;
  }

  &__find {
    margin-bottom: 0;
  }

  &__pagination {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .page-numbers {
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      color: $second_color;

      &.current {
        color: $bread_color;
      }
    }
  }
}

.recipe-card {
  width: calc(25% - 13px);
  border-radius: 5px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .04);
  text-decoration: none;
  background-color: $white-main-color;
  position: relative;
  height: 390px;

  &:hover {
    .recipe-card__box {
      border-left: 1px solid $grey_second_color;
      border-right: 1px solid $grey_second_color;
    }
  }

  &_active {
    .recipe-card__box {
      background-color: $white-main-color;
      z-index: 5;
      box-shadow: -2px 28px 13px 1px rgba(0, 0, 0, .1);
    }

    .recipe-card__inner_title,
    .recipe-card__inner_excerpt {
      max-height: fit-content;
    }

    .recipe-card__title,
    .recipe-card__excerpt {
      display: flex;
    }

    .recipe-card__button {
      box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .5);
    }
  }

  &__box {
    position: absolute;
    left: 0;
    width: calc(100% - 1px);
    background-color: $white_second_color;
    z-index: 1;
    border-left: 1px solid $grey_main_color;
    border-right: 1px solid $grey_main_color;
  }

  &__plug,
  &__image {
    height: 250px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-left: 10px;
    padding-right: 10px;

    &_second {
      display: none;
    }
  }

  &__button {
    width: calc(100% + 2px);
    height: 32px;
    border: none;
    border-radius: 0 0 5px 5px;
    background-color: $main_alt_color;
    position: absolute;
    left: -1px;
    bottom: -31px;
    cursor: pointer;

    &:hover {
      background-color: $main_color;
    }

    &_active {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &__header {

  }

  &__inner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $grey_main_color;

    &_title {
      min-height: 50px;
      max-height: 50px;
    }

    &_excerpt {
      min-height: 33px;
      max-height: 33px;
    }
  }

  &__title,
  &__excerpt {
    margin: 0;
    font-family: $text_font;
    font-weight: 400;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    color: $main_color;
    font-size: 18px;
    line-height: 22px;
  }

  &__excerpt {
    color: $second_color;
    font-size: 14px;
    line-height: 14px;
  }

  &__ingredients {
    // max-height: 205px;
    max-height: 320px;
    padding: 10px 0;
    overflow-y: auto;
    border-bottom: 1px solid $grey_main_color;

    &::-webkit-scrollbar {
      width: 10px;
    }
    
    &::-webkit-scrollbar-track {
      background: $white-third_color;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: $main_color;
      border-radius: 20px;
      border: 1px solid $white_third_color;
    }

    &-title {
      margin: 10px 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      color: $main_color; 
    }

    &-list {
      padding-left: 22px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &-item {
      margin-bottom: 2px;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      color: $second_color;
    }
  }

  &__meta {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}